.navigationFlex ul{ 
    padding-left: 15%;
    display: flex;
    list-style: none;
    color: white;
}

.navigationFlex a{
    color: white;
}

.navigationFlex li{ 
    padding-left: 13%;
}

.searchPadding{
    float: right;
    padding-left: 10%;
}

#masthead{
    display: none;
}