body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigationFlex ul{ 
    padding-left: 15%;
    display: flex;
    list-style: none;
    color: #000043;
}

.navigationFlex a{
    color: #000043;
    text-decoration: none;

}

.navigationFlex li{ 
    padding-left: 5%;
    padding-top: 1%
}

.searchPadding{
    float: right;
    padding-left: 8%;
}

.headerIMG{
    width: 30%;
    margin-left: 10%;
}

.firstFooter{
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 2%;
}

.secondFooter{
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15%;
    padding-top: 2%;
}

.cardsPad{
    padding-left: 50px;
}

.sidebarFlex{
    display: flex;
    flex-direction: column;
}

.newsSideText{
    font-size: small;
}

.main-menu ul li{
    position: relative;
}

.main-menu ul li:hover ul{
    background-color: #000043;
    text-align: left;
    display: block;
    position: absolute;
    z-index: 1;
    padding-left: 1px;
    padding-top: 50px;
    width: 100%;
}

.main-menu ul li ul{
    display: none;
    position: relative;
    padding-top: 50px;
}

#newsTitle{
    font-size: 45px !important;
}

.contentPadding{
    padding-top: 50px;
}


