body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigationFlex ul{ 
    padding-left: 15%;
    display: flex;
    list-style: none;
    color: white;
}

.navigationFlex a{
    color: white;
    text-decoration: none;
}

.navigationFlex li{ 
    padding-left: 10%;
}

.searchPadding{
    float: right;
    padding-left: 8%;
}

.headerIMG{
    width: 15%;
    margin-left: 10%;
}

.firstFooter{
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondFooter{
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
